<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lukelin.udacitycapstoneproject">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.DesignDemo"
            android:configChanges="orientation|screenSize"
            >
        </activity>

        <activity
            android:name=".Activity.LaunchActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Activity.RouteDetailActvity"
            android:configChanges="orientation|screenSize"
            />

        <activity android:name=".Activity.StopDetailActvity"
            android:configChanges="orientation|screenSize"/>

        <activity android:name=".Activity.MapActivity"
            android:configChanges="orientation|screenSize"/>

        <receiver
            android:name=".widget.DetailWidgetProvider"
            android:enabled="true"
            android:label="@string/title_widget_detail" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
                <action android:name="com.example.lukelin.udacitycapstoneproject.ACTION_DATA_UPDATED" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info_detail" />
        </receiver>

        <service
            android:name=".widget.DetailWidgetRemoteViewsService"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <service android:name=".FavoriteIntentService"/>

        <provider
            android:authorities="com.example.lukelin.udacitycapstoneproject.data.RouteProvider"
            android:name="com.example.lukelin.udacitycapstoneproject.data.generated.RouteProvider"
            android:exported="true"/>

        <provider
            android:authorities="com.example.lukelin.udacitycapstoneproject.data.StopProvider"
            android:name="com.example.lukelin.udacitycapstoneproject.data.generated.StopProvider"
            android:exported="true"/>
        <provider
            android:authorities="com.example.lukelin.udacitycapstoneproject.data.FavoriteProvider"
            android:name="com.example.lukelin.udacitycapstoneproject.data.generated.FavoriteProvider"
            android:exported="true"/>


        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyD4Ehf1q6kBct1ziOVAis_L1X8FhZ8LEBY"/>
    </application>

</manifest>